.ap__container {
  // height: 100vh;
  // overflow-x: hidden;
  // overflow-y: hidden;
}
.ap__pageContainer {
  display: flex;
  // height: 100vh;
  // overflow-x: hidden;
  // overflow-y: hidden;
  // border: 10px solid black;
  font-size: 8vh;
  ::-webkit-scrollbar {
    display: none;
  }
}

.ap__leftHalfContainer {
  flex: 1;
}

.ap__RightHalfContainer {
  flex: 1;
}

