.ab__ProgressBarContainer {
  width: 80%;
  background-color: #ddd;
  position: relative;
  border: 6px solid black;
  height: 60px;
  font-size: 6vh !important;
}
  
.ab__ProgressBar {
  width: 10%;
  height: 60px;
  // background-color: #4CAF50;
  background-color: #3EB650;
  text-align: center;
  line-height: 32px;
  color: black;
  position: absolute;
}

.ab__checkpointsContainer {
  z-index: 9;
  width: 100%;
  display: flex;
  // background: inherit;
  position: absolute;
}

.ab__checkpoint {
  margin: -6px 0px;
  // position: absolute;
}

.ab__checkpointLabel {
  display: none;
  :hover {
    display: block;
  }
}